.details {
  margin: 20px;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  justify-content: center;
  align-items: center;
}

.frame {
  margin: 1em;
}

a {
  color: #d07c2c;
  text-decoration-color: #d07c2c;
}
