.grid {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 2rem;
  cursor: pointer;

  .card {
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s ease;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;

    &:hover {
      background-color: #dddddd;
    }

    .info {
      padding: 1rem;
      //display: none;
    }

    img {
      object-fit: cover;
      width: 230px;
      height: 230px;
      margin-bottom: 1em;
    }

    .desc {
      font-size: 18px;
      color: #222222;
    }
  }
}
